@import "tailwindcss";

@theme inline {
  --color-background: #efebf0; /* Matches the soft beige/gray from design */
  --color-foreground: #1c1c1e;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for slick UI */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
